[submodule "4_telephone/lib/forge-std"]
	path = 4_telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7_force/lib/forge-std"]
	path = 7_force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "9_king/lib/forge-std"]
	path = 9_king/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
