[submodule "4_telephone/lib/forge-std"]
	path = 4_telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7_force/lib/forge-std"]
	path = 7_force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "9_king/lib/forge-std"]
	path = 9_king/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10_reentrancy/lib/forge-std"]
	path = 10_reentrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "11_elevator/lib/forge-std"]
	path = 11_elevator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "13_gateKeeperOne/lib/forge-std"]
	path = 13_gateKeeperOne/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "03_CoinFlip/lib/forge-std"]
	path = 03_CoinFlip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "03_CoinFlip/lib/openzeppelin-contracts"]
	path = 03_CoinFlip/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
